[Desktop Entry]
Categories=Settings
Comment[en_US]=GUI for device specific key mappings
Comment=GUI for device specific key mappings
Exec=input-remapper-gtk def
GenericName[en_US]=
GenericName=
Icon=input-remapper
MimeType=
Name[en_US]=Input Remapper
Name=Input Remapper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
